.artigo + .artigo {
    padding-top: 1.5em;
    margin-top: 1em;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: top center;
}

.artigo_botao {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}