body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:hover {
    color: red;
}

.conteudo-principal {
    box-sizing: border-box;
    width: calc(100% - .9 * 300px);
    float: left;
    padding-bottom: 4em;
}

.titulo {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

h1 {
    text-shadow: 2px 2px #000;
}

.titulo-principal {
    text-align: center;
    font-size: 300%;
    background-color: #851944;
    color: #FFF;
    padding: 1.25rem;
    border-bottom: .5rem solid #000000;
    text-transform: uppercase;
}

.titulo-texto {
    font-size: 1.5em;
    clear: both;
}

.container {
    width: 80ch;
    margin: 0 auto;
    padding: 1.5em 0;
    box-sizing: border-box;
}

.conteudo-principal a {
    color: #851944;
}

.conteudo-principal p {
    text-align: justify;
    margin: 1em 0;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    width: calc(.9 * 300px);
    position: relative;
    top: 309px;
}

.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}

.minha-foto,
.navegacao-site {
    float: right;
    border-left: .5em solid black;
    border-bottom: .5em solid black;
}

.navegacao_titulo {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.navegacao-site a {
    color: inherit;
    font-family: 'Roboto Condensed', 'Aria', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    position: relative;
}

.github {
    background-image: url(../images/github.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.linkedin {
    background-image: url(../images/linkedin.png);
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background-color: #000;
    font-size: .75em;
    border-radius: 10px;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}

#rodape-pagina {
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: radial-gradient(ellipse at bottom left, 
        rgba(60, 29, 61, 0.8),
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%,
        transparent);
    background-repeat: no-repeat;
    background-size: 25% 100%;
}