body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.conteudo-principal {
    box-sizing: border-box;
    width: 85%;
    float: left;
    padding-bottom: 60px;
}

.titulo{
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.titulo-principal {
    text-align: center;
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid #000000;
    text-transform: uppercase;
}

.titulo-secundario {
    font-size: 30px;
    clear: both;
}

.textos {
    width: 720px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
}

.conteudo-principal a {
    color: #851944;
}

.conteudo-principal p {
    text-align: justify;
    margin: 20px 0;
}

.citacao {
    background-color: #D9E5E3;
    padding: 20px;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
}

cite {
    font-style: italic;
    float: right;
}

.fiat {
    float: right;
    margin-right: 0;
}

.petrobras {
    float: left;
    margin-left: 0;
}

.artigo {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.artigo_botao {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 15%;
    position: relative;
    top: 310px;
}

.minha-foto,
.navegacao-site {
    float: right;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.navegacao_titulo {
    font-size: 30px;
    margin-bottom: 25px;
}

.navegacao-site a {
    color: inherit;
    font-family: 'Roboto Condensed', 'Aria', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.github {
    background-image: url(../images/github.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.linkedin {
    background-image: url(../images/linkedin.png);
}

#rodape-pagina {
    background-color: #000000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}